<app-header
[counter]="counter"
(myIncrease)="increase()"
(myDecrese)="decrease()"
(myICounterEvent)="chnageCounet($event)">
</app-header>
<!-- <div>
  {{ 1 + 1 }}
  {{ gerRandom() }}
  {{title}}
  {{ account.name }}

  <img [src]="photo" [alt]="title">
  <input [type]="text">
  <label [attr.for]="text"></label>

  <button (click)="changeColor($event); sort()">Click</button>
  <input (change)="inputColor($event)" (input)="inputColor($event)">
</div> -->

<app-cart></app-cart>
<app-products></app-products>
<app-footer></app-footer>
